.login-container {
  min-height: 100vh;
  border: 1px solid black;
  background-image: linear-gradient(180deg, #000000 0%, #000e09 100%);
  border-radius: 22px;
  display: flex;
  justify-content: center;
}
.login-responsive-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.credential-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.theme-text {
  font-family: Mulish;
  font-size: 16px;
  line-height: 21px;
  color: #36a546cc;
  border: 3px solid #000000;
  opacity: 1;
}
.site-logo {
  width: 100px;
}

.login-form-container {
  width: 100%;
  max-width: 240px;
  margin-top: 20px;
  margin-bottom: 8px;
}

@media (min-width: 365px) {
  .login-form-container {
    max-width: 280px;
  }
}

.login-input-container {
  margin-top: 20px;
  margin-bottom: 5px;
}

.login-input-container input {
  width: 100%;
  background-color: #1f191966;
  font-size: 16px;
  font-family: 'Gill Sans';
  color: #ffffffb3;
  letter-spacing: 1px;
  box-shadow:
    inset 0px 3px 3px #fffdfd40,
    3px 3px 3px #4a494947;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 18px;
}

.login-button {
  width: 100%;
  background: transparent
    linear-gradient(180deg, #00ff2580 0%, #000000 100%, #36a54680 100%) 0% 0%
    no-repeat padding-box;
  font-size: 16px;
  font-family: 'Gill Sans';
  color: #ffffffb3;
  letter-spacing: 1px;
  box-shadow:
    inset 0px 3px 3px #fffdfd40,
    3px 3px 3px #4a494947;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 18px;
  margin-top: 18px;
}
.password-reset-link {
  text-align: center;
  font-family: Arial;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02px;
  color: #36a546;
  opacity: 1;
}
.err-msg {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #c40c3d;
  margin: 0px;
}
